#controlPanel {
    float: left;
    padding-top: 30px;
  }
  .button {
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 90px 40px;
    cursor: pointer;
  }
  .button1 {
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 20px 20px;
    cursor:context-menu ;
  }

