/* #tela2{ */
    /* background-image: url("i.imgur.com/uFcqGbS.jpeg") */
    /* background: url("https://i.imgur.com/NgBoDCf.jpg"); */
    /* background: url("/js-landscape/3D Printed Denture Bit Holder With Magnets - Imgur.jpg"); */
/* } */
#hlist{
    border: 5px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0;
    display: grid;
    grid-template-columns: 40px 130px 80px 50px 50px;
    grid-template-rows: 5px 5px 5px 5px;
    grid-column-gap: 10px; */
    list-style: none;
}
